@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.card{
  width: 270px;
  height: 480px;
  text-align: center;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .card{
    width: 170px;
    height: 380px;
    margin: 0 auto;
    align-items: center;
  }
  .HSA > a{
    display: none;
  }
  .header-content{
    flex-direction: column-reverse;
    width: auto;
  }
  .header-text{
    width: auto;
  }
}