@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.card{
  width: 270px;
  height: 484px;
  text-align: center;
}
.cards{
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px 20px;
}
.varticle img{
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 576px) {

  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .card{
    width: 170px;
    height: 380px;
    margin: 0 auto;
    align-items: center;
  }
  .HSA > a{
    display: none;
  }
  .header-content{
    flex-direction: column-reverse;
    width: auto;
  }
  .header-text{
    width: auto;
  }
  .flower-content{
    width: auto;
  }
  .plants{
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .badge{
    display: none;
  }
  .text-center{
    width: auto;
  }
  .flower-container{
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .varticle{
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .third-image{
    width: auto;
  }
}