@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* cards */
.card{
  width: 270px;
  height: 484px;
  text-align: center;
}
.cards{
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px 20px;
}
.card button{
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}
/* latest deals */

.main-container{
  margin-top: 120px;
  display: flex;
  height: 430px;
  width: 100%;
  gap: 20px;
  margin-bottom: 100px;
  
}
.container-1{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.container-2{
  background-image: url(../assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.small-img1{
  background-image: url(../assets/deal-bloom.png);
  background-size: cover;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}
.small-img2{
  background-image: url(../assets/deal-ana.png);
  background-size: cover;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}
.bunch{
  background-image: url(../assets/news-letter-bg.png);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bunch-content{
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.input-form{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.input-form input[type="email"]{
  padding: 15px 20px;
  flex-grow: 1;
}
.input-form button{
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: lightgreen ;
  color: black;
}
@media screen and (max-width: 576px) {
  /* navbar */
  .HSA > a{
    display: none;
  }
/* card */
  .header-content{
    flex-direction: column-reverse;
    width: auto;
  }
  .header-text{
    margin-top: 20px;
    width: auto;
  }
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .card{
    width: 170px;
    height: 380px;
    margin: 0 auto;
    align-items: center;
  }
  .flower-content{
    width: auto;
  }
  .plants{
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  /* .flower-img > img{
    margin: 0 auto;
    width: 400px;
  } */
  /* .list-paragraph > li{
    margin: 0 auto;
  } */
  .badge{
    display: none;
  }
  .text-center{
    width: auto;
  }
  .flower-container{
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .flower-img{
    width: auto;
  }
  .deals-text{
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .main-container{
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 auto;
    justify-content: center; 
  }
  .container-1{
    flex-direction: column;
    width: auto;
    height: 500px;
  }
  .container-2{
    width: auto;
    height: 240px;
  }
  /* bunch */
  .bunch{
    margin-top: 50px;
  }
  .bunch h2{
    font-size: 2rem;
  }
  .input-form{
    flex-direction: row;
    align-items: row;
  }
  .input-form input[type="email"], .input-form button{
    width: auto;
    padding: 15px 10px;
  }

}
